<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="footer-grid">
                <h3>关于 晓一佩恩</h3>
                <p>Nullam ac urna velit. Pellentesque in arcu tortor.
                    Pellentesque nec est et elit varius pulvinar eget vitae sapien.
                    Aenean vehicula accumsan gravida. Cum sociis natoque penatibus
                    et magnis dis parturient montes, nascetur ridiculus mus. Phasellus
                    et lectus in urna consequat consectetur ut eget risus. Nunc augue diam,
                    mattis eu tristique luctus, aliquam vitae massa. Praesent lacinia nisi
                    sit amet risus cursus porta.</p>
            </div>
            <div class="footer-grid">
                <h3>站点地图</h3>
                <ul>
                    <li class="cap1"><a href="{: U('Index/index');}">首页</a></li>
                    <li><a href="{: U('Article/index');}">文章</a></li>
                    <li><a href="{: U('About/me');}">个人简介</a></li>
                    <li><a href="{: U('About/contact');}">联络方式</a></li>
                </ul>
            </div>
            <div class="footer-grid">
                <h3>友情链接</h3>
                <ul>
                    <li><a href="http://www.daofeng666.com">长沙市刀锋网络</a></li>
                    <li><a href="http://www.thinkphp.net">ThinkPHP框架</a></li>
                    <li><a href="http://www.github.com">Github</a></li>
                    <li><a href="http://www.phalcon.com">Phalcon框架</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p>Copyright &copy; 2014-2016.晓一佩恩 文章版权所有,转载需声明出处. </p>
    </div>
</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->